.Card1{
    border-radius: 6px;
    border: solid #dcdcdc 5px;
    padding: 8px 16px ;
    //margin: 8px;
    width:450px ;
    height: 300px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    margin-left:33%;
    margin-right:40%; 
    background-color: rgb(247, 217, 137);
  }