.Card{
    border-radius: 6px;
    border: solid #dcdcdc 5px;
    padding: 8px 16px ;
    //margin: 8px;
    width:200px ;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //margin-right: 20%;
    margin-top: 10%;
    margin-left: 1%;
    margin-right: 10%;
  }