.lmj-footer {
	color: black;
	padding: 32px;
	border-top: solid 4px #e2Cdb5;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: left;
    margin-top: 10%;
	font-weight: 500;
	background-color: #e2Cdb5;
    
}

.lmj-footer-elem {
	margin-bottom: 10px;
    text-align: left;
}