.lmj-footer {
	color: black;
	padding: 32px;
	border-top: solid 4px rgb(233, 195, 124);
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: left;
    margin-top: 10%;
	font-weight: 500;
	background-color: rgb(248, 241, 198);
    
}

.lmj-footer-elem {
	margin-bottom: 10px;
    text-align: left;
}