.lmj-banner {
    color: black;
	//text-align: center;
	padding: 2px;
	border-bottom: solid 4px rgb(233, 195, 124);
	display: flex;
	justify-content:left;
	flex-direction: row;
	align-items: left;
    background-color:rgb(248, 241, 198);
    height:8%;
   
    
}
.lmj-title {
    align-items: center;   
    margin-left: 200px;
    margin-top: 2%;
    font-family:'Arial Narrow Bold';
  
}
.logo {
	height: 100px;
	width: 400px;
    align-items: left;      
}


