.Navigation {
	list-style-type: none;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
    margin-left:19%;
    margin-right: 5%;
    margin-top:17px;
    text-decoration: none;
    font-size: large;
    
    
}
.et{
   
	.et{
   
	
        border-radius:20px;
        border-color: #31b572;
        padding: 10px;
        font-weight: 700px;
        cursor: pointer;
        align-self: self-start;
        
        color: white;
        
    }
    border-color: #31b572;
    padding: 10px;

	cursor: pointer;
	align-self: self-start;
	
	color: white;
	
}
.ens{
   
	
	border-radius:20px;
    border-color: #31b572;
    padding: 10px;
	
	cursor: pointer;
	align-self: self-start;
	
	color: white;
	
}
.adm{
   
	
	border-radius:20px;
    border-color: #31b572;
    padding: 10px;
	font-weight: 700px;
	cursor: pointer;
	align-self: self-start;
	
	color: white;
	
}
.bt{
    
        
        width: 150px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        padding: 8px 16px;
        border-radius: 8px;
        background-color: #e2Cdb5;
        text-align: center;
        text-decoration: none;
      
}
.na{
    text-decoration: none;
    
}
